.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: cadetblue;
}
.loader-block{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 8px solid rgb(166, 241, 166);
    background-color: rgb(166, 241, 166);
    position: relative;
    top: 40%;
    left: 40%;
    animation-name: loader;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.loader-item{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10%;
    top: -8px;
    left: -8px;
    
}
@keyframes loader{
    0%{
        transform:  translateY(  400px) ;
        background-color: burlywood;
        
    }
    25%{
        transform: translate( 100px) ;
        background-color: crimson;
      
    }
    50%{
        transform:translate(20px) rotateZ() ;
        background-color: ghostwhite;
       
    }
    75%{
        transform: translate();
        background-color: darkslategrey;
       
    }
    100%{
        transform: translate();
        background-color: magenta;
       
    }
}